body {
    margin: 0;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(158, 158, 158));
    background-image: url("./img/logo-ecu-gris.png");
    background-position: inherit;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16%;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-image: url('./img/logo_pie.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #8b8b8b;
}

li a {
    display: block;
    color: #000;
    padding: 12px 36px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#imagen {
    width: 900px;
    margin-top: 5px;
    margin-bottom: 5px;
}



#imagen:hover {
    filter: grayscale(70%);
}

.container {
    margin-left: 25%;
    margin-right: 9%;
    padding: 1px 16px;
    height: 1000px;
    font-family: Arial, Helvetica, sans-serif;

}

p {
    font-size: 14px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: #265301;
}

a:visited {
    color: #437a16;
}

a:focus {
    border-bottom: 1px solid;
    background: #bae498;
}

a:hover {
    border-bottom: 1px;
    color: #974d0c;
}

a:active {
    background: #265301;
    color: #cdfeaa;
}